<h1>Регистрация пользователя</h1>
<form (submit)='userRegisterClick()'>
    <input type="text" [(ngModel)]="name" name="name" placeholder="Ваше имя" class="form-control mb-3">
    <input type="text" [(ngModel)]="login" name="login" placeholder="Ваш login" class="form-control  mb-3">
    <input type="email" [(ngModel)]="email" name="email" placeholder="Ваш email" class="form-control  mb-3">
    <input type="password" [(ngModel)]="password" name="password" placeholder="Ваш password" class="form-control  mb-3">
    <button class="btn btn-success" type="submit">Регистрация</button>
</form>